// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";



.guide-actions {
    border-top: 1px solid #eaeaea;
    padding-top: 5px;
    }
.guide-title {
    font-weight: bold;
    font-size: 1.5em;
    }
.guide-body {
    border-top: 1px solid #eaeaea;
    padding-top: 15px;
    padding-bottom: 15px;
    }
.guide-meta-details {
    border-top: 1px solid #eaeaea;
    margin-top: 15px;
    }
.description {
    margin-top: 0;
    }
.listing {
    list-style: none;
    padding-left: 0;
    }
.guide-body {
    border-top: 1px solid #eaeaea;
    padding-top: 15px;
    padding-bottom: 15px;
    }
.guide-title {
    font-weight: bold;
    font-size: 1.5em;
    }
.Navbar {
    background-color: #46ACC2;
    display: flex;
    padding: 16px;
    font-family: sans-serif;
    color: white;
    }
.Navbar__Link {
    padding-right: 8px;
    }
.Navbar__Items {
    display: flex;
    }
.Navbar__Items--right {
    margin-left:auto;
    }
.Navbar__Link-toggle {
    display: none;
    }
@media only screen and (max-width: 768px) {
.Navbar__Items,
.Navbar {
    flex-direction: column;
    }
.Navbar__Items {
    display:none;
    }
.Navbar__Items--right {
    margin-left:0;
    }
.Navbar__ToggleShow {
    display: flex;
    }
.Navbar__Link-toggle {
    align-self: flex-end;
    display: initial;
    position: absolute;
    cursor: pointer;
    } 
}